* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 100px 0 40px;

    .App-header {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
}

// current-temp

.tempButton {
    width: 100%;
    max-width: 70px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    
    button {
        background: transparent;
        border: none;
    }
}
